body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
h2 {
    color: #333;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form label {
    margin: 5px 0;
}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin: 5px 0 20px 0;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: snow;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #555;
}